body{
    /* background: linear-gradient(45deg, #111111, #111222, #222333, #222222, #333333); */
    background: linear-gradient(90deg, #111111, #222222);
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
    border: 0;
    height: 2px;
    background-color: #444;
    /* background-color: white; */
}



.display {
  scroll-margin-top: 15rem;
}

.page-wrap {
  padding-top: 15rem;
}

.page-wrap{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;  
    padding: 15rem 2rem;
}

.section-1{
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
}

.space-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* hot-feed-space */
.hot-feed-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;

}

.hot-feed-space{
  width: 38rem;
  padding: 1rem;
  background-color: #222222;
  /* border: 2px solid white; */
  border-radius: 0.5rem;
}


.hot-feed-space h2{
  margin: 0 ;
}
/* hot-showcase */

  .hot-showcase article{
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  .artticle-image{
    height: 180px;
    width: 300px;
    border-radius: 1rem;
  }
  .article-update-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
    .article-update-details p{
      margin: 0;
    }
    .article-update-details hr{
      height: 2px;
      width: 2px ;
      border-radius: 50%;
      background-color: white;
      
    }
  .news-head a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .news-head{
  padding: 0.8rem 0.5rem;

  }

  .domain{
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }
  .domain img{
    align-items: center;
    height: 30px;
    width: 30px;
  }

  .article-update-details{
    padding: 0 0.5rem;
  }

/* hot-directs */
  .hot-directs{
    padding: 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
  }
  .direct-feed{
    border: 1px solid white;
  }










/* other-feed-space */
.other-feed-space{
  display: flex;
  flex-direction: column;
}