nav{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}


.section-1-wrap{
    scroll-margin-top: 8.45rem;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    /* background-color: #444; */
  /* background: linear-gradient(45deg, #38362E, #807A5C, #DCD6C1); */
      background: linear-gradient(45deg, #111111, #333333 ,#222222);

}

::-webkit-scrollbar-thumb{
    /* background: linear-gradient(45deg, #111111, #333333 ,#222222); */
    /* background: linear-gradient(45deg, #111111, #333333 ,#222222); */
    background: linear-gradient(45deg,#DCD6C1,#807A5C, #38362E);
    border-radius: 0.5rem;
    box-shadow: 0 0 20px #ffffff;
}

main{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

    /* nav */
.nav-wrap{
    top: 0;
    left: 0;
    right: 0;
    /* height: 5rem; */
    /* width: 80vw; */
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.5rem 4rem;
    background-color: rgba(0, 0, 0, 0); /* Start with transparent */
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    /* border-bottom: 2px solid #444; */
    /* background: linear-gradient(45deg, #111111, #111222, #222333, #222222, #333333); */
    /* background-color: black; */
    /* backdrop-filter: blur(10px); */
}

.nav-wrap.scrolled {
    background: linear-gradient(90deg, #111111, #0e0e0e,#222222);
    padding: 0 4rem;
    flex-direction: row; /* Change to row when scrolled */
    border-bottom: 2px solid #444;
    transition: 0.3s ease;
}
.nav-wrap.scrolled .nav_left {
    border-bottom: none; /* Remove border when scrolled */
}

.nav_left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 1rem;
    border-bottom: 2px solid #444;    /* need a hidden search bar here  */
}

/* .nav_left img{
    width: 7rem;
    height: 7rem;
} */
.nav_left a{
    /* color: white; */
    text-decoration: none;
    display: flex;
    width: 85px;
    height:85px;
}
.nav_right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_right ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    transition: all 250ms;
}
.nav_right a{
    transition: all 250ms;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav_right a:hover{
    color: #807A5C;
}


/* footer */

footer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 3rem;
    border-top: 2px solid #444;
    background-color:black;
    /* background: linear-gradient(45deg, #111111, #111222, #222333, #222222, #333333); */
}

.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    color: white;
    font-size: 1.15rem;
}

.footer_right .links ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.footer_right a{
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
}



/* Creating Responsiveness */

@media (max-width:932px){
    /* nav bar responsiveness */
    html, body {
        /* font-size: 85%; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

    .nav-wrap{
        background-color: transparent;
    }
    .nav_right ul{
        margin: 1rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.15rem;
    }
    .nav-wrap.scrolled .nav_right ul{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.85rem;
    }
    .nav-wrap.scrolled .nav_right a{
        font-size: small;
        background-color: #38362E;
        padding: 0.5rem;
        border-radius: 0.5rem;

    }
    .nav_right a{
        font-size: small;
        display: flex;
        background-color: #807A5C;
        padding: 0.5rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
    }
    .nav-wrap.scrolled {
        padding: 0;
    }
    .nav-wrap.scrolled .nav_right{
        padding: 1rem;
    }

    /* footer responsiveness */

    footer{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 3rem;
    }
    .footer_left p{
        text-align: center;
        font-size: 0.85rem;
    }
    .footer_right ul{
        margin: 0;
        padding: 0;
    }
    .footer_right li {
        margin: 0;
        padding: 0;
        text-align: center;
    }

}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

} 