<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base_student.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    {% block head %}  {% endblock %}
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <div class="page_wrap">
        <div class="section_wrap">
            <header role="banner">
            <div class="wrap">
            <div class="nav_up">
                <nav class="bar">
                    <div class="nav_logo">
                        <a href="#"><img src="../static/img/logo.png" alt="logo"></a>
                    </div>                    
                    <div class="nav_links">
                        <ul>
                            <li><a href="#students">Students</a></li>
                            <li><a href="#clubs">Clubs</a></li>
                            <li><a href="#latest">Latest</a></li>
                            <li><a href="#acad">University</a></li>
                            <li><a href="#dep">Departments</a></li>
                            <li><a href="#map">Map</a></li>
                        </ul>
                    </div>                    
                </nav>
                <div class="nav_down">
                        <a href="#">Profile</a>
                </div>
            </div>
            </div>
            </header>
            <div class="content_space">
                <main>
                    
                    {% block content %}{% endblock %}
                </main>
                <div class="widget_space">
                    <p>This is the widget section...</p>
                </div>
            </div>
        </div>
</body>
</html>