{%extends 'base_student.html'%}
{% block title %} Student Space {% endblock %}
{% block head %} <link rel="stylesheet" href="../static/css/feed.css"> {% endblock %}

{% block content %} 


<div class="feed_page_wrap">
    <div class="Post_space">
        <div class="Post_area_wrap">
            <div class="Post_area_wrap_left">
                <div class="nav_logo">
                    <a href="#"><img src="../static/img/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <input type="text">
                <div class="Post-bar">
                    options
                </div>

            </div>
        </div>
    </div>


    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
</div>


{% endblock %}
