{%extends 'base_student.html'%}
{% block title %} Student Space {% endblock %}
{% block head %} <link rel="stylesheet" href="../static/css/feed.css"> {% endblock %}

{% block content %} 


<div class="feed_page_wrap">
    <div class="Post_space">
        <div class="Post_area_wrap">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/stark.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <textarea placeholder="Share in the community!"></textarea>
                <div class="Post-bar">
                    <div class="Post-bar-wrap">
                        <div class="Post-bar-wrap_left">
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-image"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-square-poll-horizontal"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-paperclip"></i></a></div>   
                        </div>
                        <div class="Post-bar-wrap_right">
                            <button>Post</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="feed_roll_space">
        <div class="feed_post">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/zgb.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <div class="post_content">
                    <article>
                        <a href="#"> 
                            <div class="uploader">
                                    
                                <a href="#" id="uploader_profile_link"><span>Zigbee Club</span></a>
                                    <p>@zb</p>
                                    <hr>
                                    <time>1 hour ago</time>
                            </div>
                        </a>
                            <div><img class="artticle-image" src="../static/img/hd.png"></img></div>
                            <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                    </article>
                </div>
                <div class="post_interaction_bar">
                    <div class="interaction_items">
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-thumbs-up"></i></a></div>
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-comment"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-share"></i></a></div>   
                        
                    </div>
                </div>
            </div>
        </div>    
        <div class="feed_post">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/zgb.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <div class="post_content">
                    <article>
                        <a href="#"> 
                            <div class="uploader">
                                    
                                <a href="#" id="uploader_profile_link"><span>Zigbee Club</span></a>
                                    <p>@zb</p>
                                    <hr>
                                    <time>1 hour ago</time>
                            </div>
                        </a>
                            <div><img class="artticle-image" src="../static/img/hd.png"></img></div>
                            <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                    </article>
                </div>
                <div class="post_interaction_bar">
                    <div class="interaction_items">
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-thumbs-up"></i></a></div>
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-comment"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-share"></i></a></div>   
                        
                    </div>
                </div>
            </div>
        </div>    
        <div class="feed_post">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/zgb.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <div class="post_content">
                    <article>
                        <a href="#"> 
                            <div class="uploader">
                                    
                                <a href="#" id="uploader_profile_link"><span>Zigbee Club</span></a>
                                    <p>@zb</p>
                                    <hr>
                                    <time>1 hour ago</time>
                            </div>
                        </a>
                            <div><img class="artticle-image" src="../static/img/hd.png"></img></div>
                            <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                    </article>
                </div>
                <div class="post_interaction_bar">
                    <div class="interaction_items">
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-thumbs-up"></i></a></div>
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-comment"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-share"></i></a></div>   
                        
                    </div>
                </div>
            </div>
        </div>    
        <div class="feed_post">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/zgb.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <div class="post_content">
                    <article>
                        <a href="#"> 
                            <div class="uploader">
                                    
                                <a href="#" id="uploader_profile_link"><span>Zigbee Club</span></a>
                                    <p>@zb</p>
                                    <hr>
                                    <time>1 hour ago</time>
                            </div>
                        </a>
                            <div><img class="artticle-image" src="../static/img/hd.png"></img></div>
                            <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                    </article>
                </div>
                <div class="post_interaction_bar">
                    <div class="interaction_items">
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-thumbs-up"></i></a></div>
                        <div class="Post-items"><a href="#"><i class="fa-solid fa-comment"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-share"></i></a></div>   
                        
                    </div>
                </div>
            </div>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
</div>



<script src="../static/scripts/feed.js"></script>

{% endblock %}
