{%extends 'base_student.html'%}
{% block title %} Student Space {% endblock %}
{% block head %} <link rel="stylesheet" href="../static/css/feed.css"> {% endblock %}

{% block content %} 


<div class="feed_page_wrap">
    <div class="Post_space">
        <div class="Post_area_wrap">
            <div class="Post_area_wrap_left">
                <div class="post_profile_logo">
                    <a href="#"><img src="../static/img/stark.png" alt="pp"></a>
                </div>
            </div>
            <div class="Post_area_wrap_right">
                <textarea placeholder="Share in the community!"></textarea>
                <div class="Post-bar">
                    <div class="Post-bar-wrap">
                        <div class="Post-bar-wrap_left">
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-image"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-square-poll-horizontal"></i></a></div>
                            <div class="Post-items"><a href="#"><i class="fa-solid fa-paperclip"></i></a></div>   
                        </div>
                        <div class="Post-bar-wrap_right">
                            <button>Post</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="feed_roll_space">
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
     
    
        <div class="feed_post">
            <p>Hello</p>
            <p>Here is the Post...</p>
        </div>    
    </div> 
</div>



<script src="../static/scripts/feed.js"></script>

{% endblock %}
