{% extends 'base.html' %}
{% block head %} <link rel="stylesheet" href="./static/css/index.css">  {% endblock %}
{% block title %} Bulletin {% endblock %}

{% block content %}
<div class="page-wrap">
<section class="section-1">
            <div class="head-space">
                <div class="left-space">
                    <h1>Todays updates !</h1>                
                   <div><p>Friday, 25 July</p></div>
                </div>
                <div class="day" >
                    <span>INCEPTRIX</span>
                </div>
            </div>

            <div class="space-1" id="latest">
                <div class="hot-feed-space">
                    <a><h2>Jain Top Updates !</h2></a>
                    <hr>
                    <div class="hot-feed-content">
                        <div class="hot-showcase">
                            <article>
                                    <div><a href="#"></a></div>
                                    <div><img class="artticle-image" src="../static/img/news.jpg"></img></div>
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div class="article-update-details">
                                        <time>1 hours ago</time>
                                        <hr>
                                        <p>  By Thahari Lakshami</p>
                                    </div>
                            </article>
                        </div>
                        <div class="hot-directs">
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="hot-feed-content">
                        <div class="hot-showcase">
                            <article>
                                    <div><a href="#"></a></div>
                                    <div><img class="artticle-image" src="../static/img/news.jpg"></img></div>
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div class="article-update-details">
                                        <time>1 hours ago</time>
                                        <hr>
                                        <p>  By Thahari Lakshami</p>
                                    </div>
                            </article>
                        </div>
                        <div class="hot-directs">
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="hot-feed-content">
                        <div class="hot-showcase">
                            <article>
                                    <div><a href="#"></a></div>
                                    <div><img class="artticle-image" src="../static/img/news.jpg"></img></div>
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div class="article-update-details">
                                        <time>1 hours ago</time>
                                        <hr>
                                        <p>  By Thahari Lakshami</p>
                                    </div>
                            </article>
                        </div>
                        <div class="hot-directs">
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                            <div class="direct-feed">
                                <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                <div><time>1 hours ago</time></div>                                
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>




                <div class="other-feed-space">
                    <div class="other-space-1">
                        <a><h2>Club Updates !</h2></a>
                        <hr>
                        <div class="clubs-feed-space">
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                        </div>
                    </div>
                    <div class="other-space-1">
                        <a><h2>Club Updates !</h2></a>
                        <hr>
                        <div class="clubs-feed-space">
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hours ago</time></div>                                
                                </div>
                        </div>
                    </div>
                </div>
            </div>

</section>
<!-- <section class="section-2">
    <div class="display" id="acad"> 
        <h1>College Academic updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest updates about Academic !</p></div>
    </div>
</section>
<section class="section-3">
    <div class="display" id="dep"> 
        <h1>Department Specific updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest academic updates  for specicific Department !</p></div>
    </div>
</section>
<section class="section-4">
    <div class="display" id="clubs"> 
        <h1>Clubs updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest updates from clubs !</p></div>
    </div>
</section>
<section class="section-4">
    <div class="display" id="students"> 
        <h1>Student Space !</h1>
        <hr>
        <div><p>This one will an open space for students who need reach to the college crowd !</p></div>
    </div>
</section> -->
</div>
{% endblock %}
