{% extends 'base.html' %}
{% block head %} <link rel="stylesheet" href="./static/css/index.css">  {% endblock %}
{% block title %} Bulletin {% endblock %}

{% block content %}
<div class="page-wrap">
<section class="section-1">
            <div class="head-space">
                <div class="left-space">
                    <h1>Todays updates !</h1>                
                   <div><p>Friday, 25 July</p></div>
                </div>
                <div class="day" >
                    <span>HOT EVENT</span>
                </div>
            </div>

            <div class="section-1-wrap" id="latest">
                <div class="hot-feed-space" id="wrap1">
                        <a><h2>Jain Top Updates !</h2></a>
                        <hr>

                        <div class="hot-feed-content">
                                <div class="hot-showcase">
                                    <article>
                                            <div><a href="#"></a></div>
                                            <div><img class="artticle-image" src="../static/img/hd.png"></img></div>
                                            <div class="domain"><img src="../static/img/zgb.png"> Zigbee Club</div>
                                            <div class="news-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                            <div class="article-update-details">
                                                <time>1 hour ago</time>
                                                <hr>
                                                <p>  By Thahari Lakshami</p>
                                            </div>
                                    </article>
                                </div>
                                <div class="hot-directs">
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/stark.png"> Stark</div>
                                        <div class="direct-head"><a href="#">Please check my comment about this place on WanderLust!...</a></div>
                                        <div><time>1 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/en.png"> Enigma Club</div>
                                        <div class="direct-head"><a href="#">Please give your names for the event! Inceptrix is on the edge!</a></div>
                                        <div><time>1 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/JGi.png"> Jain</div>
                                        <div class="direct-head"><a href="#">New Session 2025-2026 is commencing on 28 Aug 2025! Please be prepare to face the college drama again!</a></div>
                                        <div><time>1 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/JGi.png"> Jain</div>
                                        <div class="direct-head"><a href="#">Dear all <br>Tomorrow (25-7-2025 ) is the last date to apply for revaluation 1- 8 semesters </a></div>
                                        <div><time>24 hour ago</time></div>                                
                                    </div>
                                </div>
                        </div>
                        <hr>

                        <div class="hot-feed-content">
                                <div class="hot-showcase">
                                    <article>
                                            <div><a href="#"></a></div>
                                            <div><img class="artticle-image" src="../static/img/news.jpg"></img></div>
                                            <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                            <div class="news-head"><a href="#">Top Updates HEADLINE will be shown here !...</a></div>
                                            <div class="article-update-details">
                                                <time>0 hour ago</time>
                                                <hr>
                                                <p>  By Author</p>
                                            </div>
                                    </article>
                                </div>
                                <div class="hot-directs">
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                        <div class="direct-head"><a href="#">Top Updates HEADLINE will be shown here !...</a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                        <div class="direct-head"><a href="#">Top Updates HEADLINE will be shown here !...</a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Pblisher</div>
                                        <div class="direct-head"><a href="#">Top Updates HEADLINE will be shown here !...</a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                </div>
                        </div>
                        <hr>
                    
                        
                        <div class="hot-feed-content">
                                <div class="hot-showcase">
                                    <article>
                                            <div><a href="#"></a></div>
                                            <div><img class="artticle-image" src="../static/img/news.jpg"></img></div>
                                            <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                            <div class="news-head"><a href="#">Top Updates HEADLINE will be shown here !...</a></div>
                                            <div class="article-update-details">
                                                <time>0 hour ago</time>
                                                <hr>
                                                <p>  By Author</p>
                                            </div>
                                    </article>
                                </div>
                                <div class="hot-directs">
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                        <div class="direct-head"><a href="#">Publishers published HEADLINE will be shown here ! </a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                        <div class="direct-head"><a href="#">Publishers published HEADLINE will be shown here !</a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                    <div class="direct-feed">
                                        <div class="domain"><img src="../static/img/P.png"> Publisher</div>
                                        <div class="direct-head"><a href="#">Publishers published HEADLINE will be shown here !</a></div>
                                        <div><time>0 hour ago</time></div>                                
                                    </div>
                                </div>
                        </div>
                        <hr>
                </div>

                <div class="other-feed-space">
                    <div class="other-section-wrap">
                        <a><h2>Club Updates !</h2></a>
                        <hr>

                        <div class="clubs-feed-space">
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/zgb.png"> Zigbee Club</div>
                                    <div class="direct-head"><a href="#">Zigbee Club has launched their Brand new Website...</a></div>
                                    <div><time>1 hour ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/en.png"> Enigma Club</div>
                                    <div class="direct-head"><a href="#">Please give your names for the event! Inceptrix is on the edge!...</a></div>
                                    <div><time>1 hour ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/cc.png"> Cognito Club</div>
                                    <div class="direct-head"><a href="#">Checkout the new Challenge on UI/UX !</a></div>
                                    <div><time>1 hour ago</time></div>                                
                                </div>
                        </div>
                    </div>

                    <div class="other-section-wrap" id="wrap2">
                        <a><h2>Student Space !</h2></a>
                        <hr>

                        <div class="clubs-feed-space">
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/stark.png"> Stark</div>
                                    <div class="direct-head"><a href="#">Please check my comment about this place on WanderLust!...</a></div>
                                    <div><time>2 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/SR.png"> Saswath R</div>
                                    <div class="direct-head"><a href="#">I'm selling my old Karakoram room! Interested people pls DM!...</a></div>
                                    <div><time>5 hours ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/SA.png"> Stuti Agrawal</div>
                                    <div class="direct-head"><a href="#">I've just uploaded an Article on this site! Please check it out!</a></div>
                                    <div><time>1 hour ago</time></div>                                
                                </div>
                                <hr>
                                <div class="direct-feed">
                                    <div class="domain"><img src="../static/img/SP.png"> Shivom Paul</div>
                                    <div class="direct-head"><a href="">Please book your trip now on WanderLust!</a></div>
                                    <div><time>4 hours ago</time></div>                                
                                </div>
                        </div>
                    </div>
                </div>
            </div>

</section>
<!-- <section class="section-2">
    <div class="display" id="acad"> 
        <h1>College Academic updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest updates about Academic !</p></div>
    </div>
</section>
<section class="section-3">
    <div class="display" id="dep"> 
        <h1>Department Specific updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest academic updates  for specicific Department !</p></div>
    </div>
</section>
<section class="section-4">
    <div class="display" id="clubs"> 
        <h1>Clubs updates !</h1>
        <hr>
        <div><p>This one will have the display of all the latest updates from clubs !</p></div>
    </div>
</section>
<section class="section-4">
    <div class="display" id="students"> 
        <h1>Student Space !</h1>
        <hr>
        <div><p>This one will an open space for students who need reach to the college crowd !</p></div>
    </div>
</section> -->
</div>
{% endblock %}
