<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="page-wrap">
        <div class="login-card">
            <div class="head">
                <h2>Login</h2>
                <p>Welcome to The JB<br>The ConnectSphere of Jain!</p>
            </div>
            <div class="entry-fields">
                <div class="entry-field" id="entry-field-1">
                    <label class="login_name">Username</label>
                    <div>
                        <input class="input-field" type="text" id="username" placeholder="@username" required>
                    </div>
                </div>
                <div class="entry-field" id="entry-field-2">
                    <label class="login_password">Password</label>
                    <div>
                        <input class="input-field" type="password" id="password" placeholder="password" required>
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" class="login">Login</button>
                </div>
                <div class="baaki-maal">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </div>
        <div class="card-shoe">
            <span><p>New to The JB? <a href="/signup">Signup!</a></p></span>
        </div>
        
    </div>
</body>
</html>