<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinUp</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="icon" type="image/png" href="./static/img/logo.png">

</head>
<body>

<div class="page-wrap">
        <div class="signup-card">
            <div class="head">
                <h2>SignUp</h2>
                <p>Be the part of<br>The ConnectSphere of Jain!</p>
            </div>
            <div class="entry-fields">
                <!-- <div class="entry-field" id="entry-field-1">
                    <label class="login_type">Publisher Type</label>
                    <div>
                        <select class="select-btn">
                            <option value="" selected disabled >Choose</option>
                            <option class="optn" value="publisher">Publisher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>
                </div> -->
                <div class="entry-field" id="entry-field-2">
                    <label class="login_name">Nick name</label>
                    <div>
                        <input class="input-field" type="text" id="username" placeholder="name to show" required>
                    </div>
                </div>
                <div class="entry-field" id="entry-field-3">
                    <label class="login_username">Username</label>
                    <div>
                        <input class="input-field" type="text" id="username" placeholder="@user_handle" required>
                    </div>
                </div>
                <div class="entry-field" id="entry-field-5">
                    <label class="login_usn">USN</label>
                    <div>
                        <input class="input-field" type="text" id="usn" placeholder="USN" maxlength="10" required>
                    </div>
                </div>
                <div class="entry-field" id="entry-field-5">
                    <label class="login_email">Email</label>
                    <div>
                        <input class="input-field" type="email" id="email" placeholder="@gmail.com" required>
                    </div>
                </div>
                <div class="entry-field" id="entry-field-4">
                    <label class="login_password">Password</label>
                    <div>
                        <input class="input-field" type="password" id="password" placeholder="password" required>
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" class="signup">SignUp</button>
                </div>
            </div>
        </div>
        <div class="card-shoe">
            <span><p>Already a JBian? <a href="/login">Login!</a></p></span>
        </div>
        
    </div>

</body>
</html>